#app {
  font-family: 'EmilysHandwriting', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@font-face{
  font-family: "EmilysHandwriting";
  src: url("EmilysHandwriting.ttf");
  src: url("emilyshandwriting-webfont.woff") format("woff");
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
}

main{
  position : absolute;
  width: 100vw;
  color: white;
  z-index: 99;
  width: 100%;
  margin: 0% auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote{
  font-family: 'EmilysHandwriting', sans-serif;
  font-weight: 700;
  font-style: normal;
}

header{
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding : 2rem;
  margin-bottom: var(--spacing);
  text-shadow: 0 3px 0 rgba(0, 0, 0);
}

section {
  grid-column: 2 / 8;
  padding: 1rem vw;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  
  flex-direction: column;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 6 / 12;
}